body, html {
  padding: 0px 10px;
  margin: 0px;
}
body {
	  background-image: url(backgr.jpg);
  background-repeat:repeat;
}
main {
  padding: 20px;
  width: 895px;
  margin: 0px auto;
  background-image: rgba(255, 255, 255, 0.1);
  text-align: center;
}
div.logo>img {
  height: 115px;
  display: inline-block;
}
div.images>img {
  height: 260px;
  width: 260px;
  margin: 0px auto;
  outline: 1px dashed;
}
div.logo {
  height: 155px;
  width: 935px;
  margin: 0px auto;
  vertical-align: bottom;
  text-align: justify;
}
div.images {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px;
  outline: 1px dashed;
  width: 895px;
  margin: 0px auto;
}
nav>ul:after {
  width: 100%;
  height: 0px;
  visibility: hidden;
  overflow: hidden;
  content: '';
  display: inline-block;
}
nav>ul {
  height: 100%;
  display: block;
  text-align: justify;
  margin: 0px 0px;
  /* Обнуляем для родителя*/
  line-height: 0;
  font-size: 1px;
  /* 1px для Opera */
  /* Лекарство для IE6-7*/
  text-justify: newspaper;
  zoom: 1;
  /* Включаем в работу последнюю строку*/
  text-align-last: justify;
}
div.left, div.right {
  margin: 0px auto;
  display: inline-block;
  width: 20px;
  height:260px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

a:link {
  border:none;
  text-decoration: none;
  color:black;
}

a:visited {
  color:black;
}

div.left {
  background-image: url(left.png);
}
div.right {
  background-image: url(right.png);
}
div.left:hover, div.right:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
nav>ul>li {
  height: 100%;
  margin:0px 25px;
  display: inline-block;
  text-align: left;
  /* Востанавливаем у потомков, кроме последнего*/
  line-height: normal;
  font-size: 30pt;
  font-weight: bold;
  /* Без него в Opera будет отступ под элементами */
  vertical-align: middle;
  /* эмуляция inline-block для IE6-7*/
  /*display : inline;*/
  /*zoom : 1;*/
}
.topp {
  width: 935px;
  height: 22px;
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 1px dashed;
  border-right: 1px dashed;
  border-left: 1px dashed;
  margin: 0px auto;
}
nav {
  margin: 0px auto;
  width: 935px;
  height: 65px;
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 1px dashed red;
  vertical-align: middle;
}
nav>ul>li::before {
  content: ".";
  color: red;
}
main>div {
  display: inline-block;
  width: 260px;
  height: 260px;
}
main>div:first-child {
  margin-right: 20px;
}
main>div:last-child {
  margin-left: 20px;
}
div.images>img.first {
  margin-right: 20px;
}
div.images>img.last {
  margin-left: 20px;
}
article {

}
content {
  background-color: green;
}
div.right>img {
  width:8px;
}
main>div::after {
  content:"Больше";
}
