head, body {
	padding:0;
	/*width:100%;
	height:100%;*/
}
a:first-child{
	
}

.block1
{
    
}
.block3 {
}

.block2 {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.block1, .block2, .block3 {
    height: 100%;
    padding: 10px;
}

body > div {
    height:500px;
}

textarea {
    margin: 10px;
}