body, head {
    padding:0px;
    margin:0px;
}

.center {
    height:100%;
    width:70vw;
    margin:0px auto;
}

.top {
    display:block;
    height:3vw;
    background-color:#484647;
    color:white;
    font-size:1vw;
    padding:2px 0px;
}

.top .center {
    text-align:justify;
    line-height:3vw;
    vertical-align:middle;
	text-align-last: justify;
}

.top .center:after
{
	width: 100%;
	height: 0px;
	visibility: hidden;
	overflow: hidden;
	content: '';
	display: inline-block;
}

.top .center > span {
    display:inline-block;
    /*height:3vw;*/
    text-align:center;
    text-align-last:center;
}

.top .center  img {
    display:inline-block;
    vertical-align:middle;
    width:1vw;
}

.top .center  img.vrt-r {
    display:inline-block;
    vertical-align:middle;
    width:1px;
    height:3vw;
}

.top .center .lang {
    color:inherit;
    font-size:inherit;
    outline:none;
    border:none;
    background-color: #484647;
    margin-right:2vw;
}

.search-tb {
    width:11vw;
    margin:0px;
    height:2vw;
    font-size: 1vw;
    vertical-align:middle;
}

.top .search-bttn {
    margin:0px;
    height:2vw;
    vertical-align:middle;
}

.nav {
    clear:both;
    display:block;
    /*margin-top:2px;*/
    position:relative;
    box-shadow:0px 1px 1px rgba(0,0,0,0.5);
    height:5vw;
    z-index:1;
    font-size:1.2vw;
}

.nav .center {
    /*line-height:5vw;*/
    margin:0px auto;
    vertical-align:middle;
}

.nav img {
    margin-top:0.5vw;
    vertical-align:middle;
    height:4vw;
}

.nav-ol {
    display:table-row;
    height:100%;
    margin:0px;
    padding:0px;
    float:right;
}

.nav-li {
    display:table-cell;
    height:5vw;
    text-align:center;
    vertical-align:middle;
}

.nav-li  a {
    text-decoration:none;
    padding:0.5vw 1.5vw;
    vertical-align:middle;
    text-align:center;
    border-left:1px #fafafa solid;
    color:#618498;
}

.nav-li:first-child a {
    display:inline-block;
    border-left:0;
    padding-right:0px;
}

.nav-li:nth-child(2) a {
    padding-right:0px;
}

.nav-li:first-child::after {
    display:inline-block;
    height:0.5vw;
    width:0.5vw;
    vertical-align:middle;
    padding-right:1.5vw;
    content:" ";
    background-image:url(img/menu.png);
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
}

.nav-li:nth-child(2)::after {
    display:inline-block;
    height:0.5vw;
    width:0.5vw;
    vertical-align:middle;
    padding-right:1.5vw;
    content:" ";
    background-image:url(img/menu.png);
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
}

.nav-li:last-child a {
    background-color:#5f8295;
    border-top:1px solid #7aadca; 
    border-radius:3px;
    border-left:0;
    padding:0.5vw 1vw;
    color:white;
}

.slider
{
    clear:both;
    height:30vw;
    margin:0px;
    padding:0px;
    background-image:url(img/back_4.jpg);
    background-size:cover;
    background-position:center;
}

.left {
    display:table;
    height: 100%;
    width:3vw;;
    background-repeat:no-repeat;
    background-position:center;
    margin:0px 2vw;
    float: left;
}


.slider-cell {
    display:table-cell;
    height:100%;
    vertical-align:middle;
}

.right {
    display:table;
    height: 100%;
    width:3vw;
    background-repeat:no-repeat;
    background-position:center;
    float:right;
    margin:0px 2vw;
}

.slider-button {
    background-color:white;
    height:3vw;
    width:3vw;
    border-radius:50%;
    box-shadow:0px 0px 0px 0.35vw rgba(255,255,255,0.3);
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}

.woman {
    display:inline-block;
    padding-top:1vw;
    height:29vw;
    width:auto;
    float:left;
    vertical-align:bottom;
    margin-left:4vw;
}

.woman > img {
    height:29vw;
}

.block-slider {
    clear:none;
    display:table;
    position:relative;
    height:100%;
    color:white;
    font-size:30pt;
    text-align:center;
    width:32.5vw;
    font-size:3vw;
}

.block-slider-top {
    box-sizing:border-box;
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    padding:2%;
    height:88%;
}

.block-slider-bottom {
    display:table-row;
    height:10%;
}

.slider-indicator {
    width:0.7vw;
    background-color:black;
    padding:0px;
    margin:0px 0.3vw;
    border:0px;
}

.slider-indicator:checked {
    padding:0px;
    margin:0px;
    width:1vw;
    border:1px solid black;
    background-color:#618497;
    margin:0px 0.3vw;
}

.slider-test {
    display:block;
    font-size:1vw;
    height:100%;
    width:24vw;
    background-color:white;
    margin-right:7.5vw;
    float:right;
}

.slider-test-top {
    clear:both;
    display:block;
    height:83.3%;
    text-align:center;
}

.slider-test-top h1 {
    font-size:2vw;
    margin:0;
    line-height:5vw;
}

.slider-test-top p {
    font-size:1.2vw;
    margin:0;
}

.slider-test-ol {
    padding-left:1.5vw;
    counter-reset: myCounter;
    text-align:left;
    vertical-align:middle;
    padding-top:0;
}

.slider-test-li{
    display:inline-block;
    list-style: none;
    vertical-align:middle;
    line-height:100%;
}

.slider-test-li:before {
    counter-increment: myCounter;
    content:counter(myCounter);
    color: white;
    background: #618699;
    display: inline-block;
    text-align: center;
    margin: 5px 10px;
    margin-left:0px;
    width: 2vw;
    height: 2vw;
    line-height:2vw;
    border-radius:50%;
    vertical-align:middle;
}

.slider-test-bttn {
    display:block;
    width:100%;
    height:16.7%;
    background-color:#618699;
}

.slider-test-bttn a:before {
    display:block;
    content:" ";
    width:1.5vw;
    height:1.5vw;
    position:relative;
    left:20vw;
    top:-0.75vw;
    background-color:white;
    transform:rotate(45deg);
}

.slider-test-bttn a{
    display:inline-block;
    width:100%;
    height:100%;
    color:white;
    text-transform:uppercase;
    font-weight:bolder;
    text-decoration:none;
    font-size:1.5vw;
    text-align:center;
    vertical-align:middle;
    line-height:3vw;
}

.ad {
    clear:both;
    background-color:#eeeeee;
    height:800px;
}

.ad-tp {
    width:100%;
}

.ad-lft {
    display:inline-block;
    width:80%;
    margin:0px;
}

.ad-tbl {
    border-collapse:collapse;
}

.ad-clmn  {
    display:inline-block;
    width:32%;
    text-align:center;
    border:1px solid black;
}

.ad-clmn:first-child  {
    border-left:0px;
}

.ad-clmn:last-child  {
    border-right:0px;
}

.ad-rw:first-child>.ad-clmn {
    border-top:0px;
}

.ad-rw:last-child>.ad-clmn {
    border-bottom:0px;
}

.ad-clmn:hover {
    background-color:#dfdbdc;
}

.ad-clmn>a {
    color:#2d566a;
}

/*.ad-rght {
    display:inline-block;
    width:20%;
    height:700px;
    background-color:black;
    margin:0px;
}*/

.footer {
    clear:both;
    height: 6vw;
    padding:5px 0px 10px;
    background-color:#484647;
    color:white;
    text-align:center;

    font-size:1vw;
    line-height:2vw;
}



/* Код Влада */



.man {
    clear:both;
    background-image: url(img/panor_1.jpg);
    height:36vw;
    background-size:100%;
    background-position:center;
}

.picture-man {
    display: inline-block;
    position:relative;
    background-image:url(img/man_bottom.png);
    background-position:bottom;
    background-size:100%;
    background-repeat:no-repeat;
    /*background-size:50%;*/
    width:24vw;
    height:100%;
    left:150px;
    z-index:10;
}

.board {
    display: inline-block;
    height:16vw; /*vw - проценты от ширины экрана*/
    width:59vw;
    background-color: white;
    margin:10vw auto 5vw;
    z-index:1;
}

.brd-ad>h1 {
    color:rgb(75,135,155);
    font-size: 20px;
    font-weight: bold;
}
.brd-ad>p {
    color:rgb(210,210,210);
    font-size: 15px;
}

.brd-tbl {
  display:table;
  width:100%;
  height: 100%;
}

.brd-ad {
    display: table-cell;
    width:25vw;
    margin-left: 125px;
    height:100%;
    font-size: 10pt;
    float:left;
}

.request-form{
    position: relative;
    display: table-cell;
    height:100%;
    vertical-align: middle;
    text-align: center;
    float:right;
}

.request-form>div {
  width: 200px;
  height: 25px;
  border-style:solid;
  border-width: thin;
  border-color: grey;
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
}

.request-form>div>input {
    width:100px;
    border-style: none;
    margin-left: 15px;
    font-size: 15px;
}

.request-form>input {
    background-color: rgb(75,135,155);
    width: 220px;
    height: 45px;
    border-style:none;
    border-radius: 5px;
    margin-top: 5px;
    color:white;
    font-size: 15px;
    font-weight: bold;
}

.feedbacks {
    display:table;
    width:100%;
    height:20vw;
    font-size:5px;
}

.feedabacks .center {
    display:table-row;
}

.people {
    display: table-cell;
    width:11vw;
    height:20vw;
    vertical-align:bottom;
	text-align-last:center;
}

.people img {
    width:100%;
    margin-bottom:1vw;
}

.feedback {
    display:table-cell;
    width:59vw;
    height:20vw;
    vertical-align:middle;
	text-align:center;
}

.feedback h1 {
    display:block;
    padding:0.5vw 3vw;
    font-size:1.5vw;
    margin:0px;
    text-align:left;
    font-weight:normal;
}

.text {
    display:inline-block;
    height:10vw;
    width:59vw;
    background-image: url(img/feedback.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    text-align:left;
}

.text p {
    font-size:1.2vw;
    padding-bottom:0px;
    margin-top:1.5vw;
    margin-left:3vw;
    margin-bottom:0.5vw;
}

.text h2 {
    font-size:1.2vw;
    margin-top:0px;
    margin-left:3vw;
}

.radio {
    display:inline-block;
    width:auto;
}

.radio input[type="radio"] {
    width:1vw;
    margin:0.1vw;
}

.radio input[type="radio"]:checked {
    width:1vw;
    margin:0.1vw;
}