head,
body {
    padding: 0px;
    margin: 0px;
    /*min-width: 1000px;*/
}
#div_bttnGetInfo {
    display: none;
}
.content {
    margin-top: 30px;
}
.up-layer {
    position: absolute;
    display: none;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgba(6, 6, 6, 0.3);
}
.about-product {
    background-color: white;
    margin-top: 30vh;
    padding: 10px;
}
h4 {
    text-align: center;
}
.title {
    border-bottom: 1px solid black;
}
.preloader {
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.preloader>img {
    height: 30px;
}
#info {
    display: none;
}
